/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/resources/public/js
/out
/.repl
.#*
*.clj#
.gradle
.idea
*.iml
*.ipr
figwheel_server.log
system.properties
prob_log.txt
ProB.log.*
prob2preferences
*-init.clj
src/cljs/de/prob2/generated
src/clj/de/prob2/generated
ltl_graphdump.pl
*.cljs#
.nrepl-history